// Colors
$primary-color-base:       #03a9f4;
$primary-color-light:      #67daff;
$primary-color-dark:       #007ac1;

// Background
$background-base:          #fafafa;
$background-light:         #ffffff;
$background-dark:          #c7c7c7;

// Text
$primary-text-color:       #000000;